*{
	margin: 0;
	padding:0;
}

.load {
	animation: slide 2s; 
}

.slider {
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height :70vh;
	animation:slide 30s infinite;
}

.content {
	color: #fff;
	width: 100%;
	height:70vh;
	background-color: rgba(0,0,0,0.5);
  
  
}

.principal {
	left: 50%;
	top: 35%;
	transform: translate(-50%,-50%);
	position: absolute;
	letter-spacing: 5px;
	text-align: center;
}

.principal h1{
	font-size: 70px;
	margin: 20px;

}

.principal p{
	font-size: 20px;
}

@keyframes slide{
	0%{
		background-image:url(../images/bg1.jpg);
	}

    20% {
        background-image: url(../images/bg1.jpg);
    }

    20.01% {
        background-image: url(../images/bg2.jpg);
    }

    40% {
        background-image: url(../images/bg2.jpg);
    }

    40.01% {
        background-image: url(../images/bg3.jpg);
    }

    60% {
        background-image: url(../images/bg3.jpg);
    }

    60.01% {
        background-image: url(../images/bg4.jpg);
    }

    80% {
        background-image: url(../images/bg4.jpg);
    }

    80.01% {
        background-image: url(../images/bg5.jpg);
    }

    100% {
        background-image: url(../images/bg5.jpg);
    }

}

section.sec{
	width: 100%;
	height: 100vh;

	background-size: cover;
	background-position: center;
}

.gallery {
    margin: 10px 50px;
}

.gallery img {
        transition: 1s;
        padding: 15px;
        width: 300px;
   }

   .gallery img:hover {
            filter: grayscale(100%);
            transform: scale(1.1);
        }

.c2 {
    height: 400px;
    width: 1000px;
    position: relative;
    display: block;
    margin: 50px auto;
    color: black;
    box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.3);
    font-family:'Jumbotron';
    font-size:21px;
    
}

.block {
    text-align: center;
}

    .block:hover {
        z-index: 100;
        animation: scale 0.4s linear;
        animation-fill-mode: forwards;
        transform-origin: 50% 50%;
    }


.b1 {
    width: 250px;
    height: 400px;
    background-color: #F44722;
    left: 0;
    top: 0;
    position: absolute;
    line-height: 200px;
}

.b2 {
    width: 250px;
    height: 400px;
    background-color: #88D95F;
    left: 250px;
    top: 0;
    position: absolute;
    line-height: 200px;
}

.b3 {
    width: 250px;
    height: 400px;
    background-color: #EBF524;
    left: 500px;
    top: 0;
    position: absolute;
    line-height: 200px;
}

.b4 {
    width: 250px;
    height: 400px;
    background-color: #49ACF1;
    left: 750px;
    top: 0;
    position: absolute;
    line-height: 200px;
}

@keyframes scaledown {
    0% {
        -webkit-transform: scaledown(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scaledown(1.0);
        transform: scale(1.0);
    }
}

@keyframes scale {
    0% {
        -webkit-transform: scaledown(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scaledown(1.1);
        transform: scale(1.1);
        box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.3)
    }
}

.dc {
    text-align:center;
}


