@{
    ViewBag.Title = "About";
}

<h1>About Us</h1>
<div class="jumbotron">

    <p> <b>Founded</b> &#160 &#160 &#160 &#160	&#160 &#160	&#160		2000 </p>
    <p> <b> Ownership</b>&#160 &#160 &#160 	&#160 &#160	&#160 	Public</p>
    <p><b> Address</b>&#160 &#160 &#160	&#160 &#160	&#160 &#160 	&#160  Near B.E.H.S(4) Kamayut, Mya Kan Thar Street , Kamayut Township , Yangon</p>
    <p><b> What We Do</b>&#160 &#160 &#160	&#160 &#160	 We provide health services, entirement as well as retirement home for senior citizens</p>
</div>

<h1>Our Purpose And Belief</h1>
<div class="jumbotron">
    <p>
        First of all, thank you for exploring Lunaterra as a senior living option. You have a lot of choices available, so we appreciate your time and consideration.
    </p>
    <p>
        Now, here’s a little about us. Lunaterra is a not-for-profit Life Care community locally owned by Upstate Senior Living. What does all that mean for you?
    </p>
    <p>Being a not-for-profit means that we can reinvest in the community – benefiting the people who live here.</p>
    <p>Life Plan Community” is a more accurate term for what is also referred to as a continuing care retirement community, or CCRC. It means we offer a full continuum of care all on site, or a plan for the future.</p>
</div>

<h1>What Else Makes Different?</h1>
<div class="jumbotron">
    <p>We’re the only locally owned, nonprofit senior living community in the Yangon to offer Life Care, a contract that guarantees Independent Living and continuing care on site, including Assisted Living, Memory Care and Skilled Nursing. Life Care allows you to age in place, with the confidence of knowing that your estate is protected and that your health care needs will be met at predictable costs. Learn more about Life Care.</p>
</div>
