
@{
    ViewBag.Title = "Area";
}

<h2>Area Attraction</h2>

<div class="gallery" align="center">
    <a href="~/images/SDG.jpg" data-lightbox="mygallery" data-title="Night View Of Shwe Dagon Pagoda"><img src="~/images/SDG.jpg" width="300" height="200"></a>
    <a href="~/images/BGAS.jpg" data-lightbox="mygallery" data-title="Bo Gyoute Market"><img src="~/images/BGAS.jpg" width="300" height="200"></a>
    <a href="~/images/BGASM.jpg" data-lightbox="mygallery" data-title="Bo Gyoute Aung San Museum"><img src="~/images/BGASM.jpg" width="300" height="200"></a>
    <a href="~/images/KDG.jpg" data-lightbox="mygallery" data-title="Kan Daw Gyi Market"><img src="~/images/KDG.jpg" width="300" height="200"></a>
    <a href="~/images/SP.jpg" data-lightbox="mygallery" data-title="Su Lay Pagoda"><img src="~/images/SP.jpg" width="300" height="200"></a>
    <a href="~/images/RG.jpg" data-lightbox="mygallery" data-title="River Gallery"><img src="~/images/RG.jpg" width="300" height="200"></a>
</div>
