
@{
    ViewBag.Title = "Dining";
}


<div class="jumbotron">
    <h1>Dining</h1>
    <p>If we had to choose one word to describe the dining program here (besides “delicious”), it would have to be “creative.”</p> <br/>
    <p>
        Our culinary team, led by Daw Phyu Sin Tun, takes great pride in offering a very large variety of classical Myanmar dishes with modern twists,
        as well as international dishes all made from scratch using fresh, local and seasonal ingredients in unexpected ways.
        They also love finding creative ways to meet particularly special dietary needs without sacrificing flavor.
    </p><br />

    <p>
        Evergreen Dining Room: Our fine dining menu selections include entrées such as grass fed filet mignon, wild caught Atlantic lobster tail and salmon, wild caught Chilean sea bass, and imported French cut Australian lamb chops. Our daily buffet focuses a little more on the down-home country cooking, with comfort food favorites like slow roasted beef, chicken & dumplings, and
        okra & stewed tomatoes. On Wednesdays we feature an action station serving items such as chef-carved prime rib, shrimp scampi, and Pad Thai. On the weekend, we host a Sunday brunch, which includes a full breakfast and
        lunch buffet, complete with an omelet station.
    </p><br />

    <p>The plated menu in the evergreen room changes every three days so that you always have something unique to look forward to. The evergreen buffet changes daily. One thing that won’t change is our commitment to making every meal a great dining experience.</p>
</div>

<div class="gallery" align="center">
    <a href="~/images/dining.jpg" data-lightbox="mygallery" data-title="Breakfast Set 1"><img src="~/images/dining.jpg" width="1000" height="200"></a>
    <a href="~/images/breakfast.jpg" data-lightbox="mygallery" data-title="Breakfast Set 2"><img src="~/images/breakfast.jpg" width="1000" height="200"></a>
    <a href="~/images/lunch.jpg" data-lightbox="mygallery" data-title="Breakfast Set 3"><img src="~/images/lunch.jpg" width="1000" height="200"></a>
</div>