
@{
    ViewBag.Title = "Gallery";
}

<h2>Our Community</h2>
<div class="gallery" align="center">
    <a href="~/images/c1.jpg" data-lightbox="mygallery" data-title="Let Makes Christmas Trees"><img src="~/images/c1.jpg" width="300" height="200"></a>
    <a href="~/images/c3.png" data-lightbox="mygallery" data-title="Happy Birthday Mom"><img src="~/images/c3.png" width="300" height="200"></a>
    <a href="~/images/c2.jpg" data-lightbox="mygallery" data-title="Smile take your sadness away"><img src="~/images/c2.jpg" width="300" height="200"></a>
    <a href="~/images/c4.jpg" data-lightbox="mygallery" data-title="My new Besties"><img src="~/images/c4.jpg" width="300" height="200"></a>
    <a href="~/images/c6.jpg" data-lightbox="mygallery" data-title="Traditional Donation 1"><img src="~/images/c6.jpg" width="300" height="200"></a>
    <a href="~/images/c5.jpg" data-lightbox="mygallery" data-title="Traditional Donation 2"><img src="~/images/c5.jpg" width="300" height="200"></a>
</div>

<h2>Enjoyable And Beneficial Activities</h2>
<div class="gallery" align="center">
    <a href="~/images/a1.jpg" data-lightbox="mygallery" data-title="The More The Merrier"><img src="~/images/a1.jpg" width="300" height="200"></a>
    <a href="~/images/a2.jpg" data-lightbox="mygallery" data-title="Lets Race"><img src="~/images/a2.jpg" width="300" height="200"></a>
    <a href="~/images/a3.jpg" data-lightbox="mygallery" data-title="Wanna Join Us"><img src="~/images/a3.jpg" width="300" height="200"></a>
    <a href="~/images/a4.jpg" data-lightbox="mygallery" data-title="The End of our Meditation Class"><img src="~/images/a4.jpg" width="300" height="200"></a>
    <a href="~/images/a5.jpg" data-lightbox="mygallery" data-title="Wanana Make Salad"><img src="~/images/a5.jpg" width="300" height="200"></a>
    <a href="~/images/a6.jpg" data-lightbox="mygallery" data-title="We are trying to save the environment"><img src="~/images/a6.jpg" width="300" height="200"></a>
</div>

