
@{
    ViewBag.Title = "Health";
}

<div class="jumbotron">
    <h1>Health</h1>
    <p>
        When it comes to health care and services, you shouldn’t have to worry about “What happens if…?” As a resident of Lunaterra, you’ll already know.
    </p>

    <p>   You’ll have access to all levels of health services right here on campus. The Health Center provides personalized, high-quality care in a comfortable environment that’s designed with you in mind.   </p>

    <p>  You and your family can enjoy the peace of mind of knowing that you’ll receive the best care possible – right here in Yangon   </p>

    <p>
        We also offer short- and long-term health care and support services – without an entrance fee. Those Services include The following.
    </p>
  <br />
    <h3>Monthly Fees Starting at 1000$</h3>
    <h3>Assisted Living Amenities</h3>

    <div class="row">
        <div class="col-md-4">
            <ul>
                <li>Residential-style apartments</li>
                <li>Complimentary cable television, all utilities included (except telephone and Internet)</li>
                <li>Housekeeping, laundry and flat linen service</li>
                <li>Maintenance</li>
            </ul>
        </div>

        <div class="col-md-4">
            <ul>
                <li>Chef-prepared meals</li>
                <li>Dining room</li>
                <li>Beauty salon and barbershop</li>
                <li>Fitness center</li>
            </ul>
        </div>

        <div class="col-md-4">
            <ul>
                <li>Art and crafts room</li>
                <li> Media room</li>
                <li> Enclosed courtyard for walking</li>
                <li>Wide variety of daily activities that fosters socialization</li>
                <li> 24-hour emergency call-and-response system</li>
            </ul>
        </div>
    </div>



</div>
