
@{
    ViewBag.Title = "Lifestyle";
}
<h1>Precious moment of your life</h1>
<div class="jumbotron">

    <p class="lead">The life style of senior citizens in our community</p>
    <p>
        Is today a golf or Swamp Rabbit Trail walk kind of day? Will you take some dance lessons or learn about history? Maybe have a seat in the salon before taking your seat in the theater?
    </p>

    <p> Retirement living should be what you want it to be. At Lunaterra, it is.<p>

    <p> You have opportunities to pursue your passions and to discover new ones. You have the freedom to be as busy or as relaxed as you want. And you have a community of friends and neighbors to laugh, play, work and enjoy life with.</p>

    <p>
        As the only senior living community in the Green area with Life Care, Lunaterra is where the possibilities for enjoying retirement are endless.
    </p>
</div>



<iframe width="565" height="315" src="https://www.youtube.com/embed/dIsLsDXXJUE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe width="565" height="315" src="https://www.youtube.com/embed/GsFsS2Rh46g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

