
@{
    ViewBag.Title = "Location";
}

<h2>Location</h2>

<div class="jumbotron">
    <p>Down below is the map leading to Lunaterra retirement Home. Click on the pin point to learn more about</p>
</div>


<iframe src="https://www.google.com/maps/d/embed?mid=14kY-xNQA1YqhjHRCCFLGcLeLq32KmvxS" width=1140 height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

        
   