
@{
    ViewBag.Title = "Service";
}

<div class="jumbotron">
    <h2>Services and Amenitites</h2>
    <p class="lead">Life Make Easy</p>
    <p>You might be surprised at how much you can do in a day, when someone else takes care of things like cooking, cleaning and maintenance. Our services and amenities are here to give you the time and freedom to pursue all those things on your “Want to Do” list.</p>
    <br/>
    <p><b>Services</b></p>
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li>24/7 security</li>
                <li>Housekeeping</li>
                <li>Interior/exterior maintenance</li>

            </ul>
        </div>

        <div class="col-md-4">
            <ul>
                <li>Concierge</li>
                <li>Utilities included</li>
                <li>Cable/satelite TV</li>

            </ul>
        </div>

        <div class="col-md-4">
            <ul>
                <li>Scheduled transportation</li>
                <li>Pharmacy delivery</li>
                <li>Internet</li>
            </ul>
        </div>
    </div>
    <br />
    <p><b>Amenities</b></p>
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li>Chef-prepared meals</li>
                <li>Restaurant-style dining</li>
                <li>Evergreen Lounge</li>
                <li>Private dining room</li>
                <li>Covered parking</li>
            </ul>
        </div>

        <div class="col-md-4">
            <ul>
                <li>Salon and barbershop</li>
                <li>Devotional services</li>
                <li>Storage</li>
                <li>Fitness center</li>
                <li>Studio</li>
            </ul>
        </div>

        <div class="col-md-4">
            <ul>
                <li>Business center</li>
                <li>Library</li>
                <li>Club room</li>
                <li>Swimming pool access</li>
                <li>Media room</li>
            </ul>
        </div>
    </div>
</div>


