
@{
    ViewBag.Title = "Wellness";
}


<div class="jumbotron">
    <h1>Wellness</h1>
    <p>70% of physical aging and approximately 50% of mental aging is determined by the lifestyle choices we make every day. (MacArthur Foundation Study on Aging)</p>
    <p>Wellness is more than your physical health. It’s about making everyday choices that contribute to a long, healthy, and active life. At Lunaterra, we make those choices easy and enjoyable.</p>
    <p> What does that mean for you? It means that our activities, programs and amenities are all designed to give you countless ways to thrive socially, intellectually, physically and spiritually.</p>
    <ul>
        <li>Use it or lose it. You must use your physical and mental abilities to prevent deterioration over time. Here you have access to The Physical Activities Center at Lunaterra and the Osher Lifelong Learning Institute. On campus classes like yoga, total body, seated exercise, and core & balance promote physical health.</li>
        <img src="~/images/SDY.jpg" width="1000" />
        <li>There are no age limits. You can continue to be productive and grow as long as you live. Learn something new by taking a class; go on a travel adventure; discover a new passion – the possibilities are endless.</li>
    </ul>
     
</div>

